ALCHEMY_API_KEY=
COINMARKETCAP_API_KEY=
ETHERSCAN_API_KEY=ZV2NSWUYMFCAYI5UBXSHW4MVY1S2N9AGDM
FORKING=false
HARDHAT_NETWORK=hardhat
HARDHAT_MAX_MEMORY=4096
HARDHAT_SHOW_STACK_TRACES=true
HARDHAT_VERBOSE=true
INFURA_API_KEY=
MNEMONIC="test test test test test test test test test test test junk"
REPORT_GAS=false
TENDERLY_PROJECT=
TENDERLY_USERNAME=
FEEDER_PRIVATE_KEY=
FEEDER_PUBLIC_KEY=8RCCJ5QJK97NKJWU1XTHF6Z8J8VWFN9UA7